<!DOCTYPE html>    
<html lang="en">


<body class="container">


     <form method="post" action="new">
          <div style="display: flex; flex-direction: column; gap: 10px; align-items: center;">

          <label>
               Nome do Funcionario: 
          <input type="text" required placeholder="nome" name="name">
          </label>
          <label>
               Email do Funcionario: 
          <input type="email" name="email" required placeholder="email.do_empregado@aqui.com">
          </label>
          <label>
               Telefone do Funcionario: 
          <input type="tel" required name="telephone" placeholder="(54) 99198-2471">
          </label>
          <label>
               Empresa do Funcionario: 
          <input type="text" required name="company" placeholder="nome da empresa">
          </label>
<button type="submit">
     Enviar
</button>
          </div>

     </form>
</body>
</html>