<!DOCTYPE html>    
<html lang="en">


<body class="container">


     <form method="post" action="novo">
          <div style="display: flex; flex-direction: column; gap: 10px; align-items: center;">

          <label>
               Nome do Funcionario: 
          <input type="text" required placeholder="nome" name="nome">
          </label>
          <label>
               Email do Funcionario: 
          <input type="email" name="email" required placeholder="email.do_empregado@aqui.com">
          </label>
          <label>
               Telefone do Funcionario: 
          <input type="tel" required name="telefone" placeholder="(54) 99198-2471">
          </label>
          <label>
               Empresa do Funcionario: 
          <input type="text" required name="empresa" placeholder="nome da empresa">
          </label>
<button type="submit">
     Enviar
</button>
          </div>

     </form>
</body>
</html>